/* Reset básico para asegurar consistencia entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    --scrollbar-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: #333333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url("../Imagenes/main page art3.jpg");
    background-size: cover;
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Estilos generales para las secciones */
.section {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    min-height: 100vh;
}

.section.visible {
    opacity: 1;
}

.text-animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.text-animate.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Encabezado */
header {
    background: #e65319;
    color: #d7e6df;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2200px;
    width: 100%;
    padding: 0 20px;
}

.instagram-btn {
    background-color: #0c0c0c;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 50%;
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
}

.instagram-btn i {
    margin-right: 1px;
}

nav {
    scroll-margin-block-end: auto;
}

.logo-link {
    position: relative;
    display: inline-block;
}

.logo {
    width: 60px;
    height: auto;
    display: block;
    transition: all 0.3s ease;
}

.logo-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #080808;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.logo-link:hover::after {
    transform: scaleX(1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navegación */
nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 50px;
    display: inline;
}

nav ul li a {
    color: #0d0c0c;
    text-decoration: none;
    font-size: 1.4em;
    font-family: Impact;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Sección principal */
.main {
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
}

.main h2 {
    margin-bottom: 20px;
    font-size: 8em;
    color: #f7f6f6;
    text-align: center;
}

.main p {
    margin-bottom: 20px;
    font-size: 3em;
    line-height: 1.8;
    color: #e6531e;
}

/* Soccer */
.Soccer {
    background-image: url("../Imagenes/Soccer.jpg");
    background-color: #f7f7f7;
    background-size: cover;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.Soccer h2 {
    font-size: 2em;
    color: #e6531e;
    margin-bottom: 20px;
}

.Soccer .service p {
    font-size: 1.1em;
    color: #f9f7f6;
}

.soccer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.course-info {
    flex: 1;
    max-width: 400px;
    padding: 1rem;
    background: #070707;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

/* Carrusel */
.image-slider {
    flex: 1;
    max-width: 550px;
    height: 550px;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #e6531e;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5rem;
}

button.prev { left: 0; }
button.next { right: 0; }
button.prev:hover, button.next:hover { background: rgba(0, 0, 0, 0.8); }

/* Tutoring */
.Tutoring {
    background-image: url("../Imagenes/.jpg");
    background-size: cover;
    background-color: #eee;
    padding: 20px;
    margin: 0;
}

.Tutoring h2 {
    font-size: 13em;
    color: #e6531e;
    text-align: center;
    margin-bottom: 20px;
}

.course-info-t {
    flex: 1;
    max-width: 700px;
    padding: 1rem;
    background: #070707;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-info-t h2 { font-size: 1.5rem; margin-bottom: 0.25rem; }
.course-info-t p { font-size: 0.875rem; text-align: center; margin-bottom: 0.5rem; }

.apply-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #e6531e;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.apply-button:hover { background-color: #d14919; }

/* Basketball */
.Basketball {
    background-image: url("../Imagenes/Basketball.jpg");
    background-color: #f7f7f7;
    background-size: cover;
    padding: 20px;
    text-align: center;
}
.Basketball h2 {
    font-size: 15em;
    color: #e6531e;
    margin-bottom: 20px;
}
.Basketball p {
    margin-bottom: 20px;
    font-size: 10em;
    color: #e6531e;
}

/* Fitness */
.Fitness {
    background-image: url("../Imagenes/Fitness.jpg");
    background-color: #f7f7f7;
    background-size: cover;
    padding: 20px;
    text-align: center;
}
.Fitness h2 {
    font-size: 15em;
    color: #e6531e;
}
.Fitness p {
    margin-bottom: 20px;
    font-size: 10em;
    color: #e6531e;
}

/* About Us */
.about-us {
    background-image: url("../Imagenes/S1.jpg");
    background-color: #f7f7f7;
    background-size: cover;
    padding: 20px;
    text-align: center;
}
.about-us h2 {
    font-size: 3em;
    color: #e6531e;
}
.about-us p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #fafafa;
}
.about-us-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

/* Contact */
.Contact {
    background-image: url("../Imagenes/S4.1.jpg");
    background-color: #0a0a0a;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

/* Contact session */
.contact-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 40px;
}

.contact-item {
    text-align: center;
    background-color: #060606;
    opacity: 0.8;
    padding: 80px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #d4736f;
}

.contact-item i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #e6531e;
}

.contact-item p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #ffffff;
}

/* Footer */
footer {
    background: #121212;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
footer p {
    margin: 0;
    font-size: 1em;
    background: #e6531e;
}


.align-right {
    text-align: right;
}

.center {
    text-align: center;
}

.align-left {
    text-align: left;
}

/* Animaciones de transición */
.section {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.section.visible {
    opacity: 1;
}

/* Añadir animación de deslizamiento si lo prefieres */
.section.slide-in {
    transform: translateY(50px);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.section.slide-in.visible {
    transform: translateY(0);
    opacity: 1;
}

/* Animaciones de transición para el texto */
.text-animate {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.text-animate.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos del formulario */
.application-form {
    background: #040404;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f6f6f6;
}

.application-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    padding: 10px 20px;
    background: #e6531e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background: #d1431a;
}

/* Estilos de la sección de solicitud */
.apply {
    padding: 20px;
}

.apply h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Pie de página */
footer {
    background: #121212;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* APPLY */
.apply-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #e6531e;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #d14919;
}

.apply.section {
    background-image: url("../Imagenes/Soccer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    text-align: center;
}

.apply.section-t {
    background-image: url("../Imagenes/.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    text-align: center;
}

.apply h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #e6531e;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #e6531e;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #d14919;
}

/* Contact session */
.contact-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 40px;
}

.contact-item {
    text-align: center;
    background-color: #060606;
    opacity: 0.8;
    padding: 80px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #d4736f;
}

.contact-item i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #e6531e;
}

.contact-item p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #ffffff;
}
.about-us {
    background-color: #0a0a0a;
    padding: 60px 20px;
    text-align: center;
    background-image: url("Imagenes/S1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-us h2 {
    font-size: 2.5em;
    color: #e6531e;
    margin-bottom: 20px;
}

.about-us p {
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.6;
    color: #f4f4f4;
}

.about-us-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

/* Bloques de texto */
.course-info-about {
    flex: 1;
    max-width: 350px;
    padding: 20px;
    background: rgba(10, 10, 10, 0.8);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    text-align: left;
}

/* Imagen estática */
.image-slider-about {
    flex: 1 1 600px;
    max-width: 600px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.image-slider-about img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que se ajuste completamente */
    display: block;
    border-radius: 10px;
}